
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<body>

   

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/carbook-master/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Hakkımızda </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/carbook-master/images/about.jpg);">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">Hakkımızda</span>
                        <h2 class="mb-4">Carbook a Hoşgeldiniz</h2>

                        <p>Carbook Rent a Car, müşterilerine güvenilir, konforlu ve hızlı araç kiralama hizmeti sunmak amacıyla kurulmuş
                            modern bir araç kiralama firmasıdır. Sektördeki tecrübemiz ve müşteri memnuniyetine verdiğimiz önem sayesinde,
                            her geçen gün hizmet kalitemizi daha da ileriye taşımaktayız.</p>
                        <p>Geniş araç filomuz ile bireysel ve kurumsal müşterilerimizin farklı ihtiyaçlarına uygun çözümler sunuyoruz.
                            Ekonomik sınıftan lüks segment araçlara kadar uzanan seçeneklerimizle,her yolculuğunuzda size en uygun aracı
                            sağlamayı hedefliyoruz. Carbook olarak, sadece araç kiralamıyor; aynı zamanda güvenli ve keyifli bir yolculuk
                            deneyimi sunuyoruz.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Araç Ara</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-intro" style="background-image: url(/carbook-master/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section heading-section-white ftco-animate">
                    <h2 class="mb-3">Bizimle Kazanmak İster misiniz? O halde Geç Kalmayın.</h2>
                    <a href="#" class="btn btn-primary btn-lg">Sürücü Olmak İçin Tıklayın</a>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Yorumlar</span>
                    <h2 class="mb-3">Mutlu Müşteriler</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(/carbook-master/images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">CarBook üzerinden çok hızlı bir şekilde araç kiraladım. Araç temizdi ve teslim süreci oldukça kolaydı. Kesinlikle tekrar kullanacağım.</p>
                                    <p class="name">Ahmet Şahinkaya</p>
                                    <span class="position">Otel İşletmecisi</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(/carbook-master/images/person_3.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Fiyatlar piyasaya göre gayet uygun ve araç seçenekleri çok çeşitli. Rezervasyon yapmak birkaç dakika sürdü, çok pratik bir sistem.</p>
                                    <p class="name">Mete Pala</p>
                                    <span class="position">Yazılım Geliştiricisi</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(/carbook-master/images/person_3.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">İlk defa CarBook kullandım ve çok memnun kaldım. Araç tam zamanında teslim edildi, müşteri desteği de çok ilgiliydi.</p>
                                    <p class="name">Adem Erdoğan </p>
                                    <span class="position">Yazılımcı</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(/carbook-master/images/person_1.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Uzun yol için araç kiraladım, araç hem konforlu hem de sorunsuzdu. Süreç baştan sona güven vericiydi.</p>
                                    <p class="name">Enes Şahiner</p>
                                    <span class="position">İtfaiyeci</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(/carbook-master/images/person_2.jpg)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Kredi kartı ile ödeme ve iade süreci sorunsuz ilerledi. Kurumsal bir firma gibi çalışıyorlar, güvenilir buldum.</p>
                                    <p class="name">Erdem Avcı</p>
                                    <span class="position">Polis</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*Data Section*@
    @await Component.InvokeAsync("_DefaultStatisticsComponentPartial")


</body>
</html>